/ebin
/priv
/.eunit/
/c_src/google-snappy/.deps/
/c_src/google-snappy/.libs/
/c_src/google-snappy/Makefile
/c_src/google-snappy/config.h
/c_src/google-snappy/config.log
/c_src/google-snappy/config.status
/c_src/google-snappy/config.sub
/c_src/google-snappy/config.guess
/c_src/google-snappy/*.la
/c_src/google-snappy/*.lo
/c_src/google-snappy/*.o
/c_src/google-snappy/stamp-h1
/c_src/*.o
/c_src/google-snappy/libtool
/c_src/google-snappy/snappy-stubs-public.h
/c_src/google-snappy/snappy_unittest
/c_src/google-snappy/configure
/c_src/google-snappy/missing
/c_src/google-snappy/depcomp
/c_src/google-snappy/ltmain.sh
/c_src/google-snappy/install-sh
/c_src/google-snappy/autom4te.cache/
*~
