{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{eunit_opts, [verbose]}.

%% Compile nif using port compiler plugin
{plugins, [pc]}.

{artifacts, ["priv/snappy_nif.so"]}.

{port_specs, [
    {".*", "priv/snappy_nif.so", ["c_src/snappy/*.cc", "c_src/*.cc"], [{env, [{"LDFLAGS", "$LDFLAGS -lstdc++"}]}]}
 ]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
 ]}.
