{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{eunit_opts, [verbose]}.

{artifacts, ["priv/snappy_nif.so"]}.

{port_specs, [{".*", "priv/snappy_nif.so",
               ["c_src/snappy/*.cc", "c_src/*.cc"],
               [{env, [{"LDFLAGS", "$LDFLAGS -lstdc++"},
                       {"CXXFLAGS", "$CXXFLAGS -std=c++11"}]}]}]}.

{pre_hooks, [{"", compile, "./enc compile"}]}.
{post_hooks, [{"", clean, "./enc clean"}]}.
