{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{port_sources, ["c_src/*.cc"]}.
{port_envs, [
    {"CXXFLAGS", "$CXXFLAGS -Ic_src"},
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},
    {"LDFLAGS", "$LDFLAGS c_src/google-snappy/snappy.o c_src/google-snappy/snappy-sinksource.o"}
]}.
{so_name, "snappy.so"}.
{eunit_opts, [verbose]}.
{pre_hooks, [{compile, "./support/build-google-snappy.sh"},
             {clean, "make -C c_src/google-snappy distclean"}]}.

